.llanesk-activeuserfunction-ban {
    width: 50%;
    transition: all 0.5s ease;
}

.llanesk-activeuserfunction-ban:hover {
    background-color: #fbf39b;
    transform: scale(1.4);
}

.llanesk-activeuserfunction-user-ban-offcanva {
    position: fixed;
    width: 35%;
    top: 20%;
    left: 38%;
    /* transform: translate(10%, 40%); */
    min-height: 310px;
    max-height: 310px;
    /* transition: all .2s ease; */
    border-radius: 5px;
}

.llanesk-activeuserfunction-container-start {
    background-color: #F8D7DA;
    font-size: 18px;
    color: #7B222B;
    border: 1px solid #E6C7CA;
}

@media(max-width: 1350px) {
    .llanesk-activeuserfunction-user-ban-offcanva {
        width: 38%;
        top: 20%;
        left: 38%;
        min-height: 325px;
        max-height: 325px;
    }
}