table.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f3f4;
}

table.table-striped tbody tr:nth-child(odd) td h3 {
    color: black;
}


table.table-striped tbody tr:nth-child(odd) .dese_function .dese_button_users {
    width: 40%;
}

table.table-striped tbody tr:nth-child(even) .dese_function .dese_button_users {
    color: black;
    width: 40%;
}

table.table-striped tbody tr:nth-child(odd) .dese_function .dese_button_users:hover {
    color: black;
    background-color: #fbf39b;
    border-radius: 50px;
}

table.table-striped tbody tr:nth-child(even) .dese_function .dese_button_users:hover {
    color: white;
    background-color: #fbf39b;
    border-radius: 50px;
}