.dese-adminnav-main {
    background: #fefefe;
    justify-content: start;
}

#side_nav {
    background-color: #000;
    min-width: 250px;
    max-width: 250px;
}

.dese-adminnav-logo {
    width: 50px;
    height: 50px;
}

.dese-adminnav-content {
    min-height: 100vh;
    width: 100%;
}

.dese-adminnav-sidebar li.active {
    background: #fefefe;
    border-radius: 8px;
}

.dese-adminnav-sidebar li.active a {
    color: black;
}

.dese-adminnav-sidebar li.active a:hover {
    color: black;
}

.dese-adminnav-sidebar li a {
    color: #fefefe;
}

.dese-adminnav-sidebar li a:hover {
    color: #fbf39b;
}

.austriahd {
    color: #454545;
    text-align: center;
    margin-top: 100px;
    font-size: 55px;
    font-weight: 300;
}

.kylaadmin {
    color: #454545;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

.austriakyla.btn.btn-primary {
    width: 250px;
    background-color: blue;
    font-size: 25px;
    color: white;
}

.austriakyla.btn.btn-primary:hover {
    background-color: darkblue;
    color: white;
}

.austriahomeh1 {
    font-size: 17px;
    text-align: justify;
}

.austriakyla.offcanvas-body.medium {
    font-size: 19px;

}

.austriakyla.offcanvas.offcanvas-bottom {
    width: 1150px;
    margin-left: 250px;
    height: 430px;
    transition: all .5s ease;
}

.austriakyla.offcanvas-title {
    font-size: 27px;
}

.austriakyla.offcanvas-header {
    height: 75px;
    padding: 0px 0px 0px 0px;
}

.llanesk-admin-loading {
    background-color: white;
    min-height: 1000px;
    max-height: 1000px;
}

.austria-orderfunction-container-start {
    background-color: #dbdada;
    font-size: 18px;
    color: #000000;
    border: 1px solid #817b7b;
}

.austriakyla.offcanvas.offcanvas-bottom {
    width: 1612px;
}

@media(max-width: 1400px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 1150px;
    }
}

@media(max-width: 1350px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 1100px;
    }
}

@media(max-width: 1330px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 1090px;
    }
}

@media(max-width: 1320px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 1080px;
        height: 420px;
    }

    .austria-orderfunction-container-start {
        font-size: 17px;
    }
}

@media(max-width: 1300px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 1060px;
        height: 420px;
    }

    .austria-orderfunction-container-start {
        font-size: 17px;
    }
}

@media(max-width: 1280px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 1040px;
    }
}

@media(max-width: 1260px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 1020px;
        height: 410px;
    }
}

@media(max-width: 1200px) {
    .austriakyla.offcanvas.offcanvas-bottom {
        width: 950px;
        height: 400px;
    }

    .austria-orderfunction-container-start {
        font-size: 16px;
    }
}