.dese-adminnav-main {
    background: #fefefe;
    justify-content: start;
}

#side_nav {
    background-color: #000;
    min-width: 250px;
    max-width: 250px;
}

.dese-adminnav-logo {
    width: 50px;
    height: 50px;
}

.dese-adminnav-content {
    min-height: 100vh;
    width: 100%;
}

.dese-adminnav-sidebar li.active {
    background: #fefefe;
    border-radius: 8px;
}

.dese-adminnav-sidebar li.active a {
    color: black;
}

.dese-adminnav-sidebar li.active a:hover {
    color: black;
}

.dese-adminnav-sidebar li a {
    color: #fefefe;
}

.dese-adminnav-sidebar li a:hover {
    color: #fbf39b;
}

.austriahd {
    color: #454545;
    text-align: center;
    margin-top: 100px;
    font-size: 55px;
    font-weight: 300;
}

.kylaadmin {
    color: #454545;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

.austriakyla.btn.btn-primary {
    width: 250px;
    background-color: blue;
    font-size: 25px;
    transition: all .4s ease;
    color: white;
}

.austriakyla.btn.btn-primary:hover {
    background-color: darkblue;
    transform: scale(1.2);
    color: white;
}

.austriahomeh1 {
    font-size: 17px;
    text-align: justify;
}

.kylakylap {
    font-size: 24px;
    margin-top: 18px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.austriakyla.offcanvas-body.medium {
    font-size: 19px;
}

.austriakyla.offcanvas.offcanvas-bottom {
    width: 1150px;
    margin-left: 250px;
    height: 447px;
    transition: all .5s ease;
}

.austriakyla.offcanvas-title {
    font-size: 27px;
}

.austriakyla.offcanvas-header {
    height: 75px;
    padding: 0px 0px 0px 0px;
}

.llanesk-admin-loading {
    background-color: white;
    min-height: 1000px;
    max-height: 1000px;
}

.austria-orderfunction-container-start {
    background-color: #efb5ab;
    font-size: 18px;
    color: #350f00;
    border: 1px solid #d19896;
}

/* @media(max-width: 1300px) {
    .austriak-col-6 p {
        font-size: 25px;
        text-align: justify;
    }
} */