.llanesk-logofoot {
    width: 170px;
    height: 50px;
}

.llanesk-contacts {
    color: #fefefe;
}

.llanesk-contacts:hover {
    color: #E45E12;
}

.llanesk-contacts a {
    color: #fefefe;
}

.llanesk-contacts a:hover {
    color: #E45E12;
}

.llanesk-headline {
    color: #E45E12;
}