.llanesk-header {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.llanesk-header-start {
    height: 70px;
}

.llanesk-con {
    width: 100%;
}

.llanesk-links {
    color: #fefefe;
    transition: all .5s ease;
}

.llanesk-links:hover {
    color: #E45E12;
    transform: scale(1.2);
}

.llanesk-links i {
    color: #fefefe;
    transition: all .5s ease;
}

.llanesk-links i:hover {
    color: #E45E12;
    transform: scale(1.2);
}


.llanesk-log:hover {
    color: #fefefe;
    transform: scale(1.1);
}

.llanesk-navb-text img {
    width: 210px;
    height: 40px;
}

.llanesk-navb-text .llanesk-logo {
    width: 100px;
    height: 100px;
}

.llanesk-navb-items {
    letter-spacing: 2px;
}

.llanesk-item {
    margin-right: 4em;
    letter-spacing: 2px;
    transition: all .1s ease;
    cursor: pointer;
}

.llanesk-item-button1 a {
    background-color: #810034;
    border: 2px solid #810034;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    transition: all .5s ease;
}


.llanesk-item-button1 a:hover {
    border: 2px solid #E42428;
    background-color: #E42428;
    transform: scale(1.2);
}

.llanesk-item-button2 a {
    background-color: #810034;
    border: 2px solid #810034;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    transition: all .5s ease;
}


.llanesk-item-button2 a:hover {
    border: 2px solid #E42428;
    background-color: #E42428;
    transform: scale(1.2);
}

.llanesk-modal {
    width: 450px;
}

.llanesk-modal-content {
    height: 100vh;
    background-color: #020202;
}

.llanesk-m-header {
    width: 80%;
    border-bottom: 2px solid #fefefe;
}

.llanesk-btn-close {
    background: transparent;
    opacity: 1;
}


.llanesk-modal-body {
    width: 88%;
}

.llanesk-modal-line {
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid #fefefe;
    color: #fefefe;
}

.llanesk-modal-line a {
    letter-spacing: 2px;
}

.llanesk-modal-line i {
    color: currentColor;
    width: 35px;
}

.llanesk-modal-line li a {
    color: #fefefe;
    transition: all .5s ease;
}

.llanesk-modal-line li a:hover {
    color: #E45E12;
    transform: scale(1.1);
}

.llanesk-navb-button {
    margin-top: 75px;
    width: 100%;
    height: 50px;
    background-color: #810034;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s ease;
}

.llanesk-navb-button:hover {
    background-color: #E42428;
    transform: scale(1.1);
}

.llanesk-mobile-modal-footer {
    width: 87%;
    margin: 0 auto;
    font-size: 25px;
}

.llanesk-mobile-modal-footer a {
    color: #fefefe;
    transition: all .5s ease;
}

.llanesk-mobile-modal-footer i {
    transition: all .5s ease;
}


.llanesk-mobile-modal-footer i:hover {
    color: #E45E12;
    transform: scale(1.2);
}

@media(max-width: 470px) {
    .llanesk-navb-text .llanesk-logo {
        width: 75px;
        height: 75px;
    }

    .llanesk-mainmod {
        width: 80%;
    }

    .llanesk-modal-text {
        display: none;
    }

    .llanesk-btn-close {
        position: relative;
        left: -97%;
    }

    .llanesk-modal-line {
        margin-left: 0%;
        width: 90%;
    }

    .llanesk-navb-button {
        width: 90%;
    }


}