.offcanvas {
    position: absolute;
    top: 50%;
    left: 155%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

h1 {
    text-align: center;
    color: #921E1E;
}

.card-title {
    color: white;
}

p {
    color: white;
}

.card {
    position: relative;
    background-color: #C23031;
}

.img-thumbnail {
    border-color: #921E1E;
    background-color: #FFAD01;
}

.card-tex {
    color: white;
}