.dese_order_img {
    height: 330px;
    width: 1300px;
}

.llanesk-ordernow {
    margin: 0;
    padding: 0;
}

.llanesk-ordernow-title {
    font-size: 45px;
}

.llanesk-ordernow-border {
    border-bottom: 4px solid #fefefe;
    width: 25%;
    border-radius: 50px;
}

.llanesk-ordernow-featured {
    font-size: 25px;
}

.llanesk-ordernow-orderpage {
    background-color: green;
    width: 400px;
    font-size: 25px;
    transition: all .4s ease;
}

.llanesk-ordernow-orderpage:hover {
    background-color: darkgreen;
    transform: scale(1.2);
}

.llanesk-ordernow-orderlist {
    background-color: blue;
    width: 400px;
    font-size: 25px;
    transition: all .4s ease;
}

.llanesk-ordernow-orderlist:hover {
    background-color: darkblue;
    transform: scale(1.2);
}

.llanesk-ordernow-featuredpic {
    width: 200px;
    height: 200px;
    transition: all .5s ease;
}

.llanesk-ordernow-featuredpic:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.llanesk-ordernow-featuredlabel {
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .dese_order_img {
        width: 1100px;
        height: 270px;
    }

    .llanesk-ordernow-featuredlabel {
        font-size: 15px;
    }

}

@media only screen and (max-width: 992px) {
    .dese_order_img {
        width: 930px;
        height: 270px;
    }

    .llanesk-ordernow-orderpage {
        width: 370px;
        font-size: 23px;
    }

    .llanesk-ordernow-orderlist {
        width: 370px;
        font-size: 23px;
    }

    .llanesk-ordernow-featuredpic {
        width: 170px;
        height: 170px;
    }
}

@media only screen and (max-width: 768px) {
    .dese_order_img {
        width: 700px;
        height: 230px;
    }

    .llanesk-ordernow-orderpage {
        width: 270px;
        font-size: 20px;
    }

    .llanesk-ordernow-orderlist {
        width: 270px;
        font-size: 20px;
    }

    .llanesk-ordernow-title {
        font-size: 36px;
    }

    .llanesk-ordernow-featuredpic {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 576px) {
    .dese_order_img {
        width: 550px;
        height: 180px;
    }

    .llanesk-ordernow-orderpage {
        width: 250px;
        font-size: 20px;
    }

    .llanesk-ordernow-orderlist {
        width: 250px;
        font-size: 20px;
    }

    .llanesk-ordernow-title {
        font-size: 36px;
    }

    .llanesk-ordernow-featuredpic {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 480px) {
    .dese_order_img {
        width: 550px;
        height: 180px;
    }

    .llanesk-ordernow-orderpage {
        width: 150px;
        font-size: 10px;
    }

    .llanesk-ordernow-orderlist {
        width: 150px;
        font-size: 10px;
    }

    .llanesk-ordernow-title {
        font-size: 17px;
    }

    .llanesk-ordernow-featured {
        font-size: 17px;
    }

    .llanesk-ordernow-featuredpic {
        width: 180px;
        height: 180px;
    }

    .llanesk-ordernow-featuredlabel {
        font-size: 15px;
    }
}