.llanesk-ordernow {
    margin: 0;
    padding: 0;
}

.llanesk-ordernow-title {
    font-size: 45px;
}

.llanesk-ordernow-border {
    border-bottom: 4px solid #fefefe;
    width: 20%;
    border-radius: 50px;
}

.llanesk-ordernow-featured {
    font-size: 25px;
}

.llanesk-ordernow-orderpage {
    background-color: green;
    width: 35%;
    padding: 30px;
    font-size: 25px;
    color: #fefefe;
}

.llanesk-ordernow-orderpage:hover {
    background-color: lightgreen;
    color: white;
}

.llanesk-ordernow-orderlist {
    background-color: blue;
    width: 35%;
    font-size: 25px;
    color: #fefefe;
}

.llanesk-ordernow-orderlist:hover {
    background-color: lightblue;
    color: white;
}

.llanesk-ordernow-featuredpic {
    transition: all .5s ease;
}

.llanesk-ordernow-featuredpic:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.llanesk-ordernow-featuredlabel {
    font-size: 20px;
}