.austriak-aboutus {
    margin: 0;
    padding: 0;
}

.austriak-aboutus-title {
    font-size: 50px;

}

.austriak-aboutus-border {
    border-bottom: 4px solid #fefefe;
    border-radius: 50px;
    width: 10%;
}

.austriak-col-6 h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #fbf39b;
    font-size: 40px;
}

.austriak-col-6 p {
    font-size: 28px;
    text-align: justify;
}

.austriak-aboutus-btn {
    font-size: 30px;
    background-color: green;
    transition: all .5s ease;
}

.austriak-aboutus-btn:hover {
    background-color: lightgreen;
    transform: scale(1.2);
    color: black;
}

.austriak-aboutus-img-fluid {
    height: 390px;
    width: 60%;
}

.last-austriak h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #fbf39b;
    font-size: 50px;
}

.austria-aboutus-img {
    height: 700px;
    width: 60%;
    border-radius: 5px;
}

@media(max-width: 1300px) {
    .austriak-col-6 p {
        font-size: 25px;
        text-align: justify;
    }

    .austriak-aboutus-img-fluid {
        height: 390px;
    }
}

@media(max-width: 1230px) {
    .austriak-col-6 p {
        font-size: 23px;
        text-align: justify;
    }

    .austriak-aboutus-img-fluid {
        height: 370px;
    }
}

@media(max-width: 1200px) {
    .austriak-col-6 p {
        font-size: 20px;
        text-align: justify;
    }

    .austriak-aboutus-img-fluid {
        height: 330px;
    }

    .last-austriak h1 {
        font-size: 35px;
    }

    .austria-aboutus-img {
        height: 460px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 25px;
    }
}

@media(max-width: 1050px) {
    .austriak-col-6 p {
        font-size: 20px;
        text-align: justify;
    }

    .austriak-aboutus-img-fluid {
        height: 315px;
    }

    .last-austriak h1 {
        font-size: 35px;
    }

    .austria-aboutus-img {
        height: 460px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 25px;
    }
}

@media(max-width: 1000px) {
    .austriak-col-6 p {
        font-size: 20px;
        text-align: justify;
    }

    .austriak-aboutus-img-fluid {
        height: 300px;
    }

    .last-austriak h1 {
        font-size: 35px;
    }

    .austria-aboutus-img {
        height: 460px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 25px;
    }
}

@media(max-width: 992px) {

    .austriak-aboutus-img-fluid {
        width: 70%;
    }

    .last-austriak h1 {
        font-size: 28px;
    }

    .austria-aboutus-img {
        height: 400px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 20px;
    }
}

@media(max-width: 991px) {
    .austriak-col-6 p {
        font-size: 20px;
        text-align: center;
    }

    .austriak-aboutus-img-fluid {
        height: 400px;
        width: 50%;
    }

    .last-austriak h1 {
        font-size: 28px;
    }

    .austria-aboutus-img {
        height: 400px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 24px;
    }
}

@media(max-width: 820px) {
    .austriak-col-6 p {
        font-size: 18px;
        text-align: center;
    }

    .austriak-aboutus-img-fluid {
        height: 380px;
        width: 50%;
    }

    .last-austriak h1 {
        font-size: 28px;
    }

    .austria-aboutus-img {
        height: 400px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 24px;
    }
}

@media(max-width: 768px) {
    .austriak-col-6 p {
        font-size: 16px;
        text-align: center;
    }

    .austriak-aboutus-img-fluid {
        height: 330px;
        width: 47%;
    }

    .last-austriak h1 {
        font-size: 28px;
    }

    .austria-aboutus-img {
        height: 370px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 20px;
    }
}

@media(max-width: 576px) {
    .austriak-col-6 p {
        font-size: 14px;
        text-align: center;
    }

    .austriak-aboutus-img-fluid {
        height: 280px;
        width: 49%;
    }

    .last-austriak h1 {
        font-size: 28px;
    }

    .austria-aboutus-img {
        height: 320px;
        border-radius: 5px;
    }

    .austriak-aboutus-btn {
        font-size: 20px;
    }
}