.main-footer {
    color: white;
    background-color: #212529;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%
}

.col-sm {
    margin-left: 25em;
    color: #b5bdc4;
}

.col h4 {
    color: #b5bdc4;

}

.list-unstyled li {
    color: #b5bdc4;
}