.llanesk-footer {
    font-family: 'Shadows Into Light Two', cursive;
}

.llanesk-logofoot {
    width: 170px;
    height: 50px;
}

.llanesk-contacts {
    color: #fefefe;
}

.llanesk-contacts:hover {
    color: #FFF600;
}

.llanesk-contacts a {
    color: #fefefe;
}

.llanesk-contacts a:hover {
    color: #FFF600;
}

.llanesk-headline {
    color: #E45E12;
}