.llanesk-footer {
    font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.llanesk-logofoot {
    width: 140px;
    height: 40px;
}

.llanesk-contacts {
    color: #fefefe;
}

.llanesk-contacts:hover {
    color: #FFF600;
}

.llanesk-contacts a {
    color: #fefefe;
}

.llanesk-contacts a:hover {
    color: #FFF600;
}

.llanesk-headline {
    color: #E45E12;
}