.llanesk-stocklistitem-card {
    background-color: #C2C2C4;
}

.llanesk-stocklistitem-btn {
    width: 25%;
}

.llanesk-stocklistitem-btn {
    transition: all .5s ease;
}

.llanesk-stocklistitem-btn:hover {
    color: #000;
    background-color: #fbf39b;
    border-radius: 50px;
    cursor: pointer;
    transform: scale(1.3);
}

.llanesk-stocklistitem-menu_pic {
    height: 230px;
    width: 100%;
    border-radius: 10px 10px 10px 50px;
    transition: all .5s ease;
}


.llanesk-stocklistitem-menu_pic:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.llanesk-stocklistitem-title {
    border-bottom: 2px solid #000;
    border-radius: 50px;
}

.llanesk-stocklistitem-update-offcanva {
    position: fixed;
    width: 35%;
    top: 0%;
    left: 40%;
    /* transform: translate(10%, 40%); */
    min-height: 660px;
    max-height: 660px;
    /* transition: all .2s ease; */
    border-radius: 5px;
}

.llanesk-stocklist-item-delete-offcanva {
    position: fixed;
    width: 35%;
    top: 30%;
    left: 38%;
    /* transform: translate(10%, 40%); */
    min-height: 280px;
    max-height: 280px;
    /* transition: all .2s ease; */
    border-radius: 5px;
}

.llanesk-stocklistitem-container-start {
    background-color: #F8D7DA;
    font-size: 18px;
    color: #7B222B;
    border: 1px solid #E6C7CA;
}

.llanesk-stocklistitem-picupdate {
    width: 70%;
    height: 225px;
    box-shadow: 0px 0px 5px 4px #D2D2D4;
}

@media(max-width: 1300px) {
    .llanesk-stocklistitem-update-offcanva {
        top: 3%;
    }
}

@media(max-width: 1260px) {
    .llanesk-stocklistitem-picupdate {
        height: 200px;
    }

    .llanesk-stocklistitem-update-offcanva {
        position: fixed;
        width: 35%;
        top: 2%;
        left: 42%;
        /* transform: translate(10%, 40%); */
        min-height: 640px;
        max-height: 640px;
        /* transition: all .2s ease; */
        border-radius: 5px;
    }
}

@media(max-width: 1200px) {
    .llanesk-stocklistitem-picupdate {
        height: 200px;
    }

    .llanesk-stocklistitem-update-offcanva {
        position: fixed;
        width: 35%;
        top: 0%;
        left: 42%;
        /* transform: translate(10%, 40%); */
        min-height: 640px;
        max-height: 640px;
        /* transition: all .2s ease; */
        border-radius: 5px;
    }
}