.llanesk-stocklistitem-btn {
    color: #fefefe;
    width: 25%;
}

.llanesk-stocklistitem-btn:hover {
    color: black;
    background-color: #fbf39b;
    border-radius: 50px;
}

.llanesk-stocklistitem-menu_pic {
    height: 50px;
    width: 80px;
}