body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/assets/bghome.jpg);
  background-color: aliceblue;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}