.dese-offcanvas {
    position: fixed;
    width: 25%;
    top: 15%;
    left: 43%;
    /* transform: translate(10%, 40%); */
    min-height: 470px;
    max-height: 470px;
    /* transition: all .2s ease; */
    border-radius: 5px;
}

.dese-btn-add {
    margin-top: -90px;
}

@media only screen and (max-width:1400px) {
    .dese-offcanvas {
        width: 40%;
        left: 30%;
    }

}

@media only screen and (max-width: 768px) {
    .dese-offcanvas {
        width: 50%;
        left: 25%;
    }
}


@media only screen and (max-width: 576px) {
    .dese-offcanvas {
        width: 70%;
        left: 15%;
    }
}