.austriak-bg {
    height: 850px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.dese_images img {
    height: 100%;
}

.dese_img {
    height: 350px;
    width: 90%;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .dese_img {
        height: 150px;
        width: 768px;
        border-radius: 5px;
    }
}

.col-lg-8 h1.austria {
    color: antiquewhite;
    font-size: 80px;
    margin-left: 780px;
    font-style: initial;
}

.col-lg-8 span {
    color: #E45E12;
    margin-left: 65px;
}

.container-austria {
    text-align: center;
    color: antiquewhite;
}

.text-800 h4 {
    color: #E45E12;
}