.austriak-bg {
    height: 850px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.dese_img {
    height: 350px;
    width: 1325px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .dese_img {
        height: 150px;
        width: 768px;
        border-radius: 5px;
    }
}