.mnq {
    background: #eee;
}

.sidebar {
    background: #000;
    min-width: 250px;
    min-height: 250px;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: #ffffff;
    height: 2px;
}

.sidebar li:hover {
    background-color: #b8421e;
    color: white !important;
    border-radius: 5px;
}

.sidebar li {
    margin: 1rem 2rem;
}

.sidebar li a {
    color: #fff;
}