.austriak-aboutus {
    margin: 0;
    padding: 0;
}

.austriak-aboutus-title {
    font-size: 50px;
}

.austriak-aboutus-border {
    border-bottom: 4px solid #fefefe;
    width: 10%;
}

.austriak-col-6 h1 {
    color: #E45E12;
    font-size: 40px;
}

.austriak-col-6 p {
    font-size: 28px;
    text-align: justify;
}

.austriak-aboutus-btn {
    background-color: #e46e2a;
}

.austriak-aboutus-img-fluid {
    height: 370px;
    width: 65%;
}

.last-austriak h1 {
    color: #e46e2a;
    font-size: 50px;
    font-style: oblique;
}

.austria-aboutus-img {
    height: 650px;
    width: 60%;
}

@media(max-width: 1400px) {
    .austriak-col-6 p {
        font-size: 25px;
        text-align: justify;
    }
}

@media(max-width: 1200px) {
    .austriak-col-6 p {
        font-size: 20px;
        text-align: justify;
    }

    .austriak-aboutus-img-fluid {
        height: 300px;
    }

    .last-austriak h1 {
        font-size: 35px;
    }

    .austria-aboutus-img {
        height: 450px;
    }
}

@media(max-width: 992px) {

    .austriak-aboutus-img-fluid {
        width: 50%;
    }

    .last-austriak h1 {
        font-size: 28px;
    }

    .austria-aboutus-img {
        height: 300px;
    }
}