.llanesk-row {
    width: 800px;
    height: 500px;
    background: #fff;
}

.llanesk-side-img {
    background-image: url('../../../assets/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.llanesk-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.llanesk-badge {
    width: 150px;
    height: 150px;
}

.llanesk-box {
    width: 320px;
    box-sizing: border-box;
}

.llanesk-input {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.llanesk-box .llanesk-input-field label {
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .3s;
}

.llanesk-input-field .input:focus~label {
    top: -14px;
    padding-left: 3px;
    padding-right: 3px;
    color: #5a5c59;
    background-color: white;
}

.llanesk-input-field .input:valid~label {
    top: -15px;
    color: #5a5c59;
    background-color: white;
}


.llanesk-login-prompt {
    font-size: 14px;
}

.llanesk-register .llanesk-reg {
    text-decoration: none;
    transition: .5s;
}

.llanesk-register .llanesk-reg:hover {
    text-decoration: underline;
    color: #000;
}

.llanesk-offcanvas {
    position: fixed;
    width: 30%;
    top: 15%;
    left: 35%;
    min-height: 600px;
    max-height: 600px;
    border-radius: 5px;
}

.llanesk-register-signup {
    font-size: 20px;
}

.InputMask {
    width: 100%;
    height: 39px;
}

.llanesk-login-form-control:hover {
    border: 1px solid #56ADF2;
    transition: .2s ease;

}

.llanesk-login-validate {
    position: relative;
    left: -6%;
}

@media only screen and (max-width:1400px) {
    .llanesk-offcanvas {
        width: 40%;
        left: 30%;
    }

}

@media only screen and (max-width: 768px) {
    .llanesk-badge {
        height: 80px;
        width: 80px;
    }

    .llanesk-text {
        top: 70%;
    }

    .llanesk-text p {
        font-size: 17px;
    }

    .llanesk-row {
        max-width: 420px;
        width: 100%;
    }

    .llanesk-offcanvas {
        width: 50%;
        left: 25%;
    }
}


@media only screen and (max-width: 576px) {
    .llanesk-offcanvas {
        width: 70%;
        left: 15%;
    }
}