.dese_home-first {
    margin: 0;
    padding: 0;
}

.austriak-bg {
    height: 850px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.dese_img {
    border-radius: 5px;
}

/* .col-lg-8 h1.austria {
    color: antiquewhite;
    font-size: 70px;
    margin-left: 780px;
    font-style: initial;
}

.col-lg-8 span {
    color: #E45E12;
    margin-left: 65px;
} */

.container-austria {
    text-align: center;
    color: antiquewhite;
}

.bg-300 h4 {
    color: antiquewhite;
    font-size: 45px;
}

.bg-300 h1 {
    color: #E45E12;
    margin-top: 18px;
    font-size: 30px;
}

.bg-300 p {
    color: antiquewhite;
    font-size: 25px;
    text-align: justify;
    margin-top: 18px;
}

.dese-h1 h1 {
    color: #E45E12;
    margin-top: 18px;
    font-size: 50px;
}

.dese-parag {
    font-size: 25px;
}

.dese-parag1 {
    font-size: 25px;
}

/* @media only screen and (max-width: 1199px) {
    .bg-300 h4 {
        text-align: center;
    }

    .bg-300 h1 {
        text-align: center;
    }

    .bg-300 p {
        text-align: center;
    }
} */

@media only screen and (max-width: 768px) {
    .bg-300 h4 {
        color: antiquewhite;
        font-size: 35px;
        text-align: center;
    }

    .bg-300 h1 {
        color: #E45E12;
        margin-top: 18px;
        font-size: 20px;
        text-align: center;
    }

    .bg-300 p {
        color: antiquewhite;
        font-size: 22px;
        text-align: justify;
        margin-top: 18px;
        text-align: center;
    }

    .dese-h1 h1 {
        color: #E45E12;
        margin-top: 18px;
        font-size: 35px;
    }

    .dese-parag {
        font-size: 20px;
        text-align: center;
    }

    .dese-parag1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .dese_img {
        height: 120px;
    }

    .bg-300 h4 {
        color: antiquewhite;
        font-size: 25px;
        text-align: center;
    }

    .bg-300 h1 {
        color: #E45E12;
        margin-top: 18px;
        font-size: 17px;
        text-align: center;
    }

    .bg-300 p {
        color: antiquewhite;
        font-size: 22px;
        text-align: justify;
        margin-top: 18px;
        text-align: center;
    }

    .dese-h1 h1 {
        color: #E45E12;
        margin-top: 18px;
        font-size: 35px;
    }

    .dese-parag {
        font-size: 20px;
        text-align: center;
    }

    .dese-parag1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 414px) {
    .dese_img {
        height: 140px;
    }
}