.dese_home-first {
    margin: 0;
    padding: 0;

}

.austriak-bg {
    height: 850px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.dese_images img {
    height: 100%;
}

.dese_img {
    min-height: 350px;
    max-height: 350px;
    width: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .dese_img {
        height: 150px;
        width: 768px;
        border-radius: 5px;
    }
}

.col-lg-8 h1.austria {
    color: antiquewhite;
    font-size: 80px;
    margin-left: 780px;
    font-style: initial;
}

.col-lg-8 span {
    color: #E45E12;
    margin-left: 65px;
}

.container-austria {
    text-align: center;
    color: antiquewhite;
}

.bg-300 h4 {
    color: antiquewhite;
    font-size: 58px;
    font-style: oblique;
}

.bg-300 h1 {
    color: #E45E12;
    margin-top: 18px;
    font-style: italic;
    font-size: 30px;
}

.bg-300 p {
    font-style: italic;
    color: antiquewhite;
    font-size: 36px;
    text-align: justify;
    margin-top: 18px;
}