.dese_home-first {
    margin: 0;
    padding: 0;
}

.llanesk-homepage-border1 {
    border-bottom: 10px solid #fbf39b;
    border-radius: 0 0 100px 100px;
    width: 100%;
    height: 30px;
}

.llanesk-homepage-border2 {
    border-bottom: 10px solid #fbf39b;
    border-radius: 0 0 100px 100px;
    width: 90%;
    height: 30px;
}

.llanesk-homepage-border3 {
    border-bottom: 10px solid #fbf39b;
    border-radius: 0 0 100px 100px;
    width: 80%;
    height: 30px;
}

.dese_img {
    height: 350px;
}

.llanesk-homepage-s2 {
    border-bottom: 4px solid #fefefe;
}

.llanesk-homepage-s2-cont h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 65px;
}

.llanesk-homepage-s2-cont p {
    font-size: 23px;
}

.llanesk-homepage-s3-customers img {
    width: 100%;
    height: 260px;
}

.llanesk-homepage-s3-cont h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 65px;
}

.llanesk-homepage-s3-cont p {
    font-size: 23px;
}

.austriak-homepage-s3-btn {
    width: 200px;
    background-color: green;
    transition: all .5s ease;
    color: white;
}

.austriak-homepage-s3-btn:hover {
    background-color: lightgreen;
    transform: scale(1.2);
    color: black;
}

@media only screen and (max-width: 576px) {
    .dese_img {
        height: 120px;
    }

}

@media only screen and (max-width: 414px) {
    .dese_img {
        height: 140px;
    }
}